<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    {{title}}!!
  </h1>
  <p-menubar [model]="items"></p-menubar>
  <router-outlet></router-outlet>
</div>
    
 
<!--<div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Back Country Strips<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Another action1</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </li>
    <li role="navigation"><a href="#">The Flying Machine</a></li>
    <li role="navigation"><a href="#">Camping With Your Airplane</a></li>
    <li role="navigation"><a href="#">About</a></li>
  </ul>
  <li class="dropdown" uib-dropdown>
    <a class="dropdown-toggle" uib-dropdown-toggle href="" role="button" aria-haspopup="true" aria-expanded="true">a<span class="caret"></span></a>
    <ul class="uib-dropdown-menu" role="menu">
        <li><a href="#">a</a></li>
        <li><a href="#">b</a></li>
        <li><a href="#">c</a></li>
        <li><a href="#">d</a></li>
    </ul>
</li>
</div>

  <div class="d-inline-block dropdown show" ngbdropdown="">
    <button aria-haspopup="true" class="btn btn-outline-primary dropdown-toggle" id="dropdownManual" ngbdropdowntoggle="" aria-expanded="true">Toggle dropdown</button>
    <div aria-labelledby="dropdownManual" class="dropdown-menu">
      <button class="dropdown-item">Action - 1</button>
      <button class="dropdown-item">Another Action</button>
      <button class="dropdown-item">Something else is here</button>
    </div>
  </div>

  <li class="dropdown" uib-dropdown>
    <a uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="true">a<span class="caret"></span></a>
    <ul uib-dropdown-menu>
        <li><a href="#">a</a></li>
        <li><a href="#">b</a></li>
        <li><a href="#">c</a></li>
        <li><a href="#">d</a></li>
    </ul>
</li>

-->
